@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 11% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 11% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 15%;
    --primary: 210 40% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 28% 75%;
    --secondary-foreground: 210 11% 15%;
    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 20%;
    --accent: 38 92% 50%;
    --accent-foreground: 210 11% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 93%;
    --ring: 210 40% 32%;
    --chart-1: 210 40% 32%;
    --chart-2: 210 28% 75%;
    --chart-3: 38 92% 50%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 40%;
    --radius: 0.75rem;
    --sidebar-background: 210 40% 32%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 210 40% 32%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 38 92% 50%;
    --sidebar-accent-foreground: 210 11% 15%;
    --sidebar-border: 210 30% 55%;
    --sidebar-ring: 38 92% 50%;
  }
  .dark {
    --background: 210 11% 12%;
    --foreground: 0 0% 98%;
    --card: 210 11% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 210 11% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 50% 58%;
    --primary-foreground: 0 0% 12%;
    --secondary: 210 20% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 11% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 38 92% 55%;
    --accent-foreground: 210 11% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 11% 25%;
    --input: 210 11% 22%;
    --ring: 210 50% 58%;
    --chart-1: 210 50% 58%;
    --chart-2: 210 20% 40%;
    --chart-3: 38 92% 55%;
    --chart-4: 0 0% 50%;
    --chart-5: 0 0% 35%;
    --sidebar-background: 210 11% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 50% 58%;
    --sidebar-primary-foreground: 0 0% 12%;
    --sidebar-accent: 38 92% 55%;
    --sidebar-accent-foreground: 210 11% 15%;
    --sidebar-border: 210 11% 25%;
    --sidebar-ring: 38 92% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
